
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <a href="/quiz/{{user._id}}"></a> 
                    </h4>
                    <p>{{Qid}}</p>
                    <form action="/quiz/question">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        {{oA}}
                     </button>
                     <button type="submit" class="btn btn-danger btn-block btn-sm">
                        {{oB}}
                     </button>
                     <button type="submit" class="btn btn-danger btn-block btn-sm">
                        {{oC}}
                     </button>
                     <button type="submit" class="btn btn-danger btn-block btn-sm">
                        {{oD}}
                     </button>
<!--
                        <div>
                         {{#each select}}
                          
                           <a class="btn btn-primary">{{choices}}</a>
                            {{/each}}
                        </div>
-->
                    </form>

            </div>
        </div>
    </div>

</div>